@mixin SSmall {
    @media (min-width: map-get($grid-breakpoints, ssm)) {
        @content
    }
}

@mixin Small {
    @media (min-width: map-get($grid-breakpoints, sm)) {
        @content;
    }
}

@mixin Medium {
    @media (min-width: map-get($grid-breakpoints, md)) {
        @content;
    }
}

@mixin Large {
    @media (min-width: map-get($grid-breakpoints, lg)) {
        @content;
    }
}


.primary-bg {
    background-color: $primary-color;
}

.home-primary-bg {
    background-color: $primary-color;

    @include Medium {
        background-image: linear-gradient(170deg, #FFD370 60%, white 40%);
    }

}